:root {
  --ion-tab-bar-color: rgba(166, 164, 164, 1);
  --ion-tab-bar-color-selected: rgba(93, 24, 235, 1);
}

ion-tab-bar {
  --background: white;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.4);
  border-radius: 16px !important;

  height: 50px;
  width: 90%;
  padding-top: 5px;
  padding-bottom: 5px;

  bottom: 20px;
  position: relative;
  margin: 0 auto !important;
  border-top: none;
}

ion-tab-button {
  border-radius: 16px !important;
}
