.card {
  width: 370px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.4);
  background-color: white;
  border-radius: 10px;
}

.back-card {
  width: 370px;
  height: 180px;
}

.back-card .card-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #702bff;
  font-size: 16px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .card-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #702bff;
  font-size: 16px;
  width: 100%;
  height: 90px;
  border-radius: 10px;
}

ion-card-title {
  color: #5d18eb;
  font-size: 24px;
  font-weight: 700;
}

ion-card-subtitle {
  color: white;
}

#title-page {
  text-align: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px;
}

.search input {
  width: 300px;
  height: 54px;
  border-radius: 10px;
  background-color: white;
  padding-left: 20px;
}

.search input::placeholder {
  color: rgba(166, 164, 164, 1);
}

.search-button {
  width: 54px;
  height: 54px;
  border-radius: 10px;
  background-color: white;
}

ion-button {
  --background: white;
  --background-hover: #9ce0be;
  --background-activated: #88f4be;
  --background-focused: #88f4be;
  --color: blue;

  --border-radius: 10px;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: deeppink;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

:root {
  --ion-background-color: #5d18eb;
}

ion-toolbar {
  --background: #5d18eb;
  --color: white;
  --min-height: 80px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 9%);
}

.header-md::after {
  height: 0px;
}

ion-select {
  --background: white;
  --placeholder-color: #5d18eb;
  --placeholder-opacity: 1;
  width: 100%;
  height: 56px;
  justify-content: flex-start;
  padding-left: 28px;
  border-radius: 10px;
}

.item-native {
  background-color: black;
}


ion-ripple-effect {
  background: red;
}

ion-select::part(placeholder),
ion-select::part(text) {
  flex: 0 0 auto;
  font-weight: 700;
  padding: 10px;
  font-size: 15px;
  color: rgba(93, 24, 235, 1);
}

.select {
  background-color: white;
  margin: 10px 0px 10px 0px;
}

ion-select::part(text) {
  color: #545ca7;
}

ion-select::part(icon) {
  color: rgba(93, 24, 235, 1);
  opacity: 1;
}

.test {
  background-color: white;
}

